<footer >
    <div class="container" >
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="logo-box">
                    <img src="./../../../assets/images/logo.svg" alt="">
                    <p>
                        Streamline your workflow, manage <br>
                        projects, and empower your team.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-2">
                <div class="info" >
                    <h6 class="white-label">
                        Quick Links
                    </h6>
                    <ul>
                        <li>
                            Home
                        </li>
                        <li>
                            Pricing
                        </li>
                        <li>
                            Changelog
                        </li>
                        <li>
                            Privacy Policy
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-2">
                <div class="info" >
                    <h6 class="white-label">
                        Company
                    </h6>
                    <ul>
                        <li>
                            About Us
                        </li>
                        <li>
                            Contat Us
                        </li>
                        <li>
                            Testimonials
                        </li>
                        <li>
                            Features
                        </li>
                        <li>
                            Blog
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="input-section">
                    <p>Stay updated with our latest <br>
                        news and tips!</p>
                    <div class="input" >
                        <input type="text">
                        <span class="icon" >
                            Subscribe
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12" >
                <div class="copyright" >
                    <span>
                        © 2024 TaskHub, Inc. All rights reserved.
                    </span>
                    <div class="social-icons" >
                        <img src="./../../../assets/images/x.svg" alt="">
                        <img src="./../../../assets/images/fb.svg" alt="">
                        <img src="./../../../assets/images/in.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
