<section class="content-container">
    <div class="top-section">
        <app-header></app-header>

        <div class="hero-content">
            <div class="hero-arrow d-flex justify-content-center align-items-center">
                <img src="./../../../assets/images/arrow.svg" alt="" class="tl">
            </div>
            <div class="hero-data d-flex justify-content-center align-items-center gap-4">
                <h1 class="query">Any Query?</h1>
                <button class="contact-btn">Contact us</button>
            </div>
            <p class="hero-para d-flex justify-content-center align-items-center">Let's build something great together.
                Or just say Hi.</p>
        </div>

        <div class="contact-data">
            <div class="form-data d-flex justify-content-between">
                <div>
                    <h1 class="connect-text">Connect <span class="with-text">with</span> Us</h1>
                    <h1 class="text-today">Today!</h1>
                    <p class="form-para">At Luqta, we value your inquiries, feedback, and collaborations. Whether you
                        are
                        interested in our
                        digital services, have questions about our projects</p>

                    <div class="commit-data">
                        <h1 class="our-commit">Our Commitment to You</h1>
                        <div class="detail-data d-flex align-items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M25.6654 13.9997C25.6654 20.443 20.442 25.6663 13.9987 25.6663C7.55538 25.6663 2.33203 20.443 2.33203 13.9997C2.33203 7.55635 7.55538 2.33301 13.9987 2.33301C20.442 2.33301 25.6654 7.55635 25.6654 13.9997ZM18.7008 10.4643C19.0425 10.806 19.0425 11.36 18.7008 11.7017L12.8674 17.5351C12.5257 17.8768 11.9717 17.8768 11.63 17.5351L9.29665 15.2017C8.95494 14.86 8.95494 14.306 9.29665 13.9643C9.63836 13.6226 10.1924 13.6226 10.5341 13.9643L12.2487 15.6789L14.856 13.0716L17.4633 10.4643C17.805 10.1226 18.359 10.1226 18.7008 10.4643Z"
                                    fill="white" />
                            </svg>
                            <p class="support-text">Swift responses, dedicated support</p>
                        </div>
                        <div class="detail-data d-flex align-items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M25.6654 13.9997C25.6654 20.443 20.442 25.6663 13.9987 25.6663C7.55538 25.6663 2.33203 20.443 2.33203 13.9997C2.33203 7.55635 7.55538 2.33301 13.9987 2.33301C20.442 2.33301 25.6654 7.55635 25.6654 13.9997ZM18.7008 10.4643C19.0425 10.806 19.0425 11.36 18.7008 11.7017L12.8674 17.5351C12.5257 17.8768 11.9717 17.8768 11.63 17.5351L9.29665 15.2017C8.95494 14.86 8.95494 14.306 9.29665 13.9643C9.63836 13.6226 10.1924 13.6226 10.5341 13.9643L12.2487 15.6789L14.856 13.0716L17.4633 10.4643C17.805 10.1226 18.359 10.1226 18.7008 10.4643Z"
                                    fill="white" />
                            </svg>
                            <p class="support-text">Efficient and always here for you</p>
                        </div>
                        <div class="detail-data d-flex align-items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M25.6654 13.9997C25.6654 20.443 20.442 25.6663 13.9987 25.6663C7.55538 25.6663 2.33203 20.443 2.33203 13.9997C2.33203 7.55635 7.55538 2.33301 13.9987 2.33301C20.442 2.33301 25.6654 7.55635 25.6654 13.9997ZM18.7008 10.4643C19.0425 10.806 19.0425 11.36 18.7008 11.7017L12.8674 17.5351C12.5257 17.8768 11.9717 17.8768 11.63 17.5351L9.29665 15.2017C8.95494 14.86 8.95494 14.306 9.29665 13.9643C9.63836 13.6226 10.1924 13.6226 10.5341 13.9643L12.2487 15.6789L14.856 13.0716L17.4633 10.4643C17.805 10.1226 18.359 10.1226 18.7008 10.4643Z"
                                    fill="white" />
                            </svg>
                            <p class="support-text">We listen, understand, and act promptly</p>
                        </div>
                        <div class="double-circle-img">
                            <img src="../../../assets/images/double-circle.png" alt="double-circle">
                        </div>
                    </div>
                </div>
                <div class="form-content">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control custom-input" id="firstName"
                                placeholder="Enter First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control custom-input" id="lastName"
                                placeholder="Enter Last Name">
                        </div>
                        <div class="col-md-6 form-space">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control custom-input" id="email"
                                placeholder="Enter your Email">
                        </div>
                        <div class="col-md-6 form-space">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control custom-input" id="phone"
                                placeholder="Enter Phone Number">
                        </div>
                        <div class="col-12 form-space">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control custom-input" id="subject"
                                placeholder="Enter your Subject">
                        </div>
                        <div class="col-12 form-space">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control custom-input" id="message" rows="4"
                                placeholder="Enter your Message here.."></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn custom-btn">
                                <i class="fas fa-paper-plane"></i> Send Your Message
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-map-data">
            <div class="d-flex justify-content-between align-items-center gap-4">
                <div class="row">
                    <div class="col-8">
                        <div class="card-data">
                            <div class="d-flex justify-content-between align-items-center gap-4">
                                <img src="../../../assets/images/card.png" alt="card">
                                <div class="card-text">
                                    <h1 class="dubai-text">Abu Dhabi</h1>
                                    <p class="dubai-para">240 Park Avenue SouthNew York, NY 10003 United States</p>
                                    <h1 class="direction-text">Get directions</h1>
                                    <ul>
                                        <li>Timezone: (GMT-4)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0197472956973!2d-122.41941518434091!3d37.77492917975992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064df6e1bb5%3A0x2a8b6d5f7bb9bbd5!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2s!4v1672948345874!5m2!1sen!2s"
                                width="100%" height="404" style="border:0; border-radius: 32px;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-4 mt-2">
                <div class="row">
                    <div class="col-8">
                        <div class="card-center-data">
                            <div class="d-flex justify-content-between align-items-center gap-4">
                                <img src="../../../assets/images/card1.png" alt="card">
                                <div class="card-text">
                                    <h1 class="dubai-text">Abu Dhabi</h1>
                                    <p class="dubai-para">240 Park Avenue SouthNew York, NY 10003 United States</p>
                                    <h1 class="direction-text">Get directions</h1>
                                    <ul>
                                        <li>Timezone: (GMT-4)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0197472956973!2d-122.41941518434091!3d37.77492917975992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064df6e1bb5%3A0x2a8b6d5f7bb9bbd5!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2s!4v1672948345874!5m2!1sen!2s"
                                width="100%" height="404" style="border:0; border-radius: 32px;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-4 mt-2">
                <div class="row">
                    <div class="col-8">
                        <div class="card-data">
                            <div class="d-flex justify-content-between align-items-center gap-4">
                                <img src="../../../assets/images/card2.png" alt="card">
                                <div class="card-text">
                                    <h1 class="dubai-text">Abu Dhabi</h1>
                                    <p class="dubai-para">240 Park Avenue SouthNew York, NY 10003 United States</p>
                                    <h1 class="direction-text">Get directions</h1>
                                    <ul>
                                        <li>Timezone: (GMT-4)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0197472956973!2d-122.41941518434091!3d37.77492917975992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064df6e1bb5%3A0x2a8b6d5f7bb9bbd5!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2s!4v1672948345874!5m2!1sen!2s"
                                width="100%" height="404" style="border:0; border-radius: 32px;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-faq></app-faq>
    </div>
</section>