$primary: #2e3b55;
$secondary: #B88917;
$yellow: #e5d8b6;
$info-lt : #85aac5;
$success : #f8a426;

$golden : #936E12;
$teal: #251b05;
$star :#fbbf24;

$gray-50: #F5F5F9;
$gray-100: #F5F5F5;
$gray-200: #ABB1BB;
$gray-300: #D5D8DD;
$gray-400: #828999;
$gray-500: #4D4D4D;
$gray-600: #333333;
$gray-700: #262626;
$gray-800: #212121;
$gray-900: #120A0B;