<section class="content-container">
    <div class="top-section">
        <div class="hero-content">
            <div class="hero-arrow d-flex justify-content-center align-items-center">
                <img src="./../../../assets/images/arrow.svg" alt="" class="tl img-fluid">
            </div>
            <div class="hero-data d-flex justify-content-center align-items-center gap-4 flex-column flex-md-row">
                <h1 class="query text-center text-md-start">About our</h1>
                <button class="contact-btn">Company</button>
            </div>
            <div class="d-flex justify-content-center text-center">
                <p class="hero-para d-flex justify-content-center align-items-center text-center">
                    Discover thrilling contests tailored for you. Earn coins, complete tasks, and unlock rewards like
                    never
                    before!
                </p>
            </div>
        </div>

        <div class="large-size-para">
            <p class="large-para">Founded with a simple goal—to make <span class="large-span">Contest Managmnet, faster,
                    and more intuitive</span>— tempus arcu ut
                ac.
                Viverra nisi purus tristique nullam felis est. Nunc non vitae sit malesuada proin et aliquet et nisi.
                Libero convallis integer maecenas amet eu.</p>
        </div>

        <div class="large-size-img">
            <img class="img-fluid w-100" src="../../../assets/images/about-img.png" alt="">
        </div>

        <div class="second-large-size-para text-end ms-auto">
            <p class="second-large-para">Founded with a simple goal—to make <span class="large-span">Contest Managmnet,
                    faster, and
                    more intuitive</span>— tempus arcu ut
                ac.
                Viverra nisi purus tristique nullam felis est. Nunc non vitae sit malesuada proin et aliquet et nisi.
                Libero convallis integer maecenas amet eu.</p>
        </div>

        <div class="container">
            <div class="card-show row justify-content-center">
                <div class="innovation col-lg-4 col-md-6 col-sm-12 text-start">
                    <img class="innovation-img" src="../../../assets/images/innovation.png" alt="">
                    <h1 class="innovation-heading">Innovation</h1>
                    <p class="innovation-para">
                        Continuously improving and evolving to offer the latest and most effective tools for businesses.
                        We
                        believe that innovation isn’t just about what’s new—it's about making sure our users get the
                        best
                        and most effective solutions to their challenges.
                    </p>
                </div>
                <div class="innovation col-lg-4 col-md-6 col-sm-12 text-start">
                    <img class="innovation-img" src="../../../assets/images/simplicity.png" alt="">
                    <h1 class="innovation-heading">Simplicity</h1>
                    <p class="innovation-para">
                        We eliminate the friction that comes with adopting new technologies. Our goal is to strip away
                        unnecessary complexity so our users can focus on what really matters: growing their business and
                        connecting with customers.
                    </p>
                </div>
                <div class="innovation col-lg-4 col-md-6 col-sm-12 text-start">
                    <img class="innovation-img" src="../../../assets/images/centricity.png" alt="">
                    <h1 class="innovation-heading text-nowrap text-md-wrap text-sm-wrap">Customer-Centricity</h1>
                    <p class="innovation-para">
                        Always putting our customers first and providing tools that help them succeed. We succeed when
                        our customers succeed, and that’s why we listen carefully to their needs. We prioritize building
                        features and offering support that genuinely help.
                    </p>
                </div>
            </div>
        </div>

        <div class="mission-vission-card row d-flex">
            <div class="mission col-12 mb-4">
                <div class="mission-content">
                    <h1 class="our_mission">Our Mission</h1>
                    <div class="mission-data row justify-content-between">
                        <div class="mission-detail col-12 col-md-6">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33"
                                    fill="none">
                                    <path
                                        d="M29.3346 16.3372C29.3346 8.97344 23.365 3.00391 16.0013 3.00391C8.6375 3.00391 2.66797 8.97344 2.66797 16.3372C2.66797 23.701 8.6375 29.6706 16.0013 29.6706C23.365 29.6706 29.3346 23.701 29.3346 16.3372Z"
                                        stroke="#2E3B55" stroke-width="2" />
                                    <path
                                        d="M17.1504 10.6327L18.3236 12.9985C18.4836 13.3278 18.9103 13.6437 19.2702 13.7042L21.3967 14.0605C22.7566 14.289 23.0764 15.2837 22.0966 16.2649L20.4434 17.9318C20.1635 18.2141 20.0102 18.7585 20.0968 19.1482L20.57 21.2115C20.9434 22.8449 20.0835 23.4766 18.6503 22.623L16.6572 21.4334C16.2972 21.2183 15.7039 21.2183 15.3374 21.4334L13.3442 22.623C11.9177 23.4766 11.0511 22.8381 11.4244 21.2115L11.8977 19.1482C11.9844 18.7585 11.831 18.2141 11.5511 17.9318L9.89793 16.2649C8.9247 15.2837 9.23799 14.289 10.5978 14.0605L12.7243 13.7042C13.0776 13.6437 13.5042 13.3278 13.6642 12.9985L14.8374 10.6327C15.4774 9.34899 16.5172 9.34899 17.1504 10.6327Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <h1 class="what-do">What do we do</h1>
                            </div>
                            <p class="mission-para">Putting our customers at the heart of everything we do, we strive to
                                deliver exceptional</p>
                        </div>
                        <div class="mission-detail col-12 col-md-6">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33"
                                    fill="none">
                                    <path
                                        d="M29.3346 16.3372C29.3346 8.97344 23.365 3.00391 16.0013 3.00391C8.6375 3.00391 2.66797 8.97344 2.66797 16.3372C2.66797 23.701 8.6375 29.6706 16.0013 29.6706C23.365 29.6706 29.3346 23.701 29.3346 16.3372Z"
                                        stroke="#2E3B55" stroke-width="2" />
                                    <path
                                        d="M17.1504 10.6327L18.3236 12.9985C18.4836 13.3278 18.9103 13.6437 19.2702 13.7042L21.3967 14.0605C22.7566 14.289 23.0764 15.2837 22.0966 16.2649L20.4434 17.9318C20.1635 18.2141 20.0102 18.7585 20.0968 19.1482L20.57 21.2115C20.9434 22.8449 20.0835 23.4766 18.6503 22.623L16.6572 21.4334C16.2972 21.2183 15.7039 21.2183 15.3374 21.4334L13.3442 22.623C11.9177 23.4766 11.0511 22.8381 11.4244 21.2115L11.8977 19.1482C11.9844 18.7585 11.831 18.2141 11.5511 17.9318L9.89793 16.2649C8.9247 15.2837 9.23799 14.289 10.5978 14.0605L12.7243 13.7042C13.0776 13.6437 13.5042 13.3278 13.6642 12.9985L14.8374 10.6327C15.4774 9.34899 16.5172 9.34899 17.1504 10.6327Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <h1 class="what-do">Why do we exist</h1>
                            </div>
                            <p class="mission-para">Putting our customers at the heart of everything we do, we strive to
                                deliver exceptional</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vission col-12">
                <div class="vission-content">
                    <h1 class="our_vission">Our Vision</h1>
                    <div class="vission-data row justify-content-center">
                        <div class="vission-detail col-12">
                            <div class="d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33"
                                    fill="none">
                                    <path
                                        d="M6.66797 21.6706L13.3346 17.6706M18.668 15.0039L25.3346 11.0039M16.0013 7.00391V13.6706M16.0013 19.0039V25.6706M6.66797 11.0039L13.3346 15.0039M18.668 17.6706L25.3346 21.6706"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M27.3346 12.3373V19.6706M18.0013 27.6706L25.3346 23.6706M6.0013 23.6706L14.0013 27.6706M4.66797 20.3372V12.3373M6.0013 9.00391L14.0013 5.00391M26.0013 9.00391L18.0013 5.00391"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M16 7.00391C17.1046 7.00391 18 6.10848 18 5.00391C18 3.89934 17.1046 3.00391 16 3.00391C14.8954 3.00391 14 3.89934 14 5.00391C14 6.10848 14.8954 7.00391 16 7.00391Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M16 29.6699C17.1046 29.6699 18 28.7745 18 27.6699C18 26.5654 17.1046 25.6699 16 25.6699C14.8954 25.6699 14 26.5654 14 27.6699C14 28.7745 14.8954 29.6699 16 29.6699Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M4.66797 12.3369C5.77254 12.3369 6.66797 11.4415 6.66797 10.3369C6.66797 9.23234 5.77254 8.33691 4.66797 8.33691C3.5634 8.33691 2.66797 9.23234 2.66797 10.3369C2.66797 11.4415 3.5634 12.3369 4.66797 12.3369Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M27.332 12.3369C28.4366 12.3369 29.332 11.4415 29.332 10.3369C29.332 9.23234 28.4366 8.33691 27.332 8.33691C26.2275 8.33691 25.332 9.23234 25.332 10.3369C25.332 11.4415 26.2275 12.3369 27.332 12.3369Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M27.332 24.3369C28.4366 24.3369 29.332 23.4415 29.332 22.3369C29.332 21.2323 28.4366 20.3369 27.332 20.3369C26.2275 20.3369 25.332 21.2323 25.332 22.3369C25.332 23.4415 26.2275 24.3369 27.332 24.3369Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M4.66797 24.3369C5.77254 24.3369 6.66797 23.4415 6.66797 22.3369C6.66797 21.2323 5.77254 20.3369 4.66797 20.3369C3.5634 20.3369 2.66797 21.2323 2.66797 22.3369C2.66797 23.4415 3.5634 24.3369 4.66797 24.3369Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                    <path
                                        d="M15.9987 13.3369L18.6654 14.8369V17.8369L15.9987 19.3369L13.332 17.8369V14.8369L15.9987 13.3369Z"
                                        stroke="#2E3B55" stroke-width="2" stroke-linejoin="round" />
                                </svg>
                                <h1 class="what-do-we">Where do we want to be in the future</h1>
                            </div>
                            <p class="vission-para">
                                To create a world where education is accessible to all, regardless of background or
                                circumstance,
                                empowering individuals to unlock their full potential and contribute meaningfully to
                                society.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wizards-details">
            <div class="wizards-data-details">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="meet-wizard-content">
                        <h1 class="meet-wizard">Meet the <span class="wizards-span">Wizards</span> of <span
                                class="luqta-span">Luqta</span></h1>
                        <p class="meet-wizard-para">No smoke and mirrors here—just a team of talented, dedicated pros
                            making magic happen behind the
                            scenes.</p>
                    </div>
                    <div class="position-relative">
                        <img src="./../../../assets/images/trstar.png" alt="" class="tr">
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12 col-lg-6">
                        <div class="card-details d-flex gap-3">
                            <img src="../../../assets/images/person.png" alt="">
                            <div class="card-content">
                                <h1 class="callahan">Zephyr Callahan</h1>
                                <p class="callahan-para">Owner, CEO</p>
                                <div class="d-flex align-items-center gap-2">
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25205)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M22.5 21.8359H22C21.0572 21.8359 20.5858 21.8359 20.2929 22.1288C20 22.4217 20 22.8931 20 23.8359V32.3359C20 33.2787 20 33.7501 20.2929 34.043C20.5858 34.3359 21.0572 34.3359 22 34.3359H22.5C23.4428 34.3359 23.9142 34.3359 24.2071 34.043C24.5 33.7501 24.5 33.2787 24.5 32.3359V23.8359C24.5 22.8931 24.5 22.4217 24.2071 22.1288C23.9142 21.8359 23.4428 21.8359 22.5 21.8359Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M24.5 16.5859C24.5 17.8286 23.4926 18.8359 22.25 18.8359C21.0074 18.8359 20 17.8286 20 16.5859C20 15.3433 21.0074 14.3359 22.25 14.3359C23.4926 14.3359 24.5 15.3433 24.5 16.5859Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M30.326 21.8359H29.5C28.5572 21.8359 28.0858 21.8359 27.7929 22.1288C27.5 22.4217 27.5 22.8931 27.5 23.8359V32.3359C27.5 33.2787 27.5 33.7501 27.7929 34.043C28.0858 34.3359 28.5572 34.3359 29.5 34.3359H30C30.9428 34.3359 31.4142 34.3359 31.7071 34.043C32 33.7501 32 33.2787 32 32.3359L32.0001 28.836C32.0001 27.1792 32.5281 25.836 34.0879 25.836C34.8677 25.836 35.5 26.5076 35.5 27.336V31.836C35.5 32.7788 35.5 33.2502 35.7929 33.5431C36.0857 33.836 36.5572 33.836 37.5 33.836H37.9987C38.9413 33.836 39.4126 33.836 39.7055 33.5432C39.9984 33.2504 39.9985 32.7791 39.9987 31.8365L40.0001 26.3361C40.0001 23.8509 37.6364 21.8362 35.2968 21.8362C33.9649 21.8362 32.7767 22.489 32.0001 23.5099C32 22.8798 32 22.5648 31.8632 22.3309C31.7765 22.1828 31.6531 22.0595 31.505 21.9728C31.2711 21.8359 30.9561 21.8359 30.326 21.8359Z"
                                                fill="#F1E7D1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25205">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25211)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M21 33.3359L28.5484 25.7875M28.5484 25.7875L21 15.3359H26L31.4516 22.8843M28.5484 25.7875L34 33.3359H39L31.4516 22.8843M39 15.3359L31.4516 22.8843"
                                                stroke="#F1E7D1" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25211">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card-details d-flex gap-3">
                            <img src="../../../assets/images/person.png" alt="">
                            <div class="card-content">
                                <h1 class="callahan">Zephyr Callahan</h1>
                                <p class="callahan-para">Owner, CEO</p>
                                <div class="d-flex align-items-center gap-2">
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25205)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M22.5 21.8359H22C21.0572 21.8359 20.5858 21.8359 20.2929 22.1288C20 22.4217 20 22.8931 20 23.8359V32.3359C20 33.2787 20 33.7501 20.2929 34.043C20.5858 34.3359 21.0572 34.3359 22 34.3359H22.5C23.4428 34.3359 23.9142 34.3359 24.2071 34.043C24.5 33.7501 24.5 33.2787 24.5 32.3359V23.8359C24.5 22.8931 24.5 22.4217 24.2071 22.1288C23.9142 21.8359 23.4428 21.8359 22.5 21.8359Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M24.5 16.5859C24.5 17.8286 23.4926 18.8359 22.25 18.8359C21.0074 18.8359 20 17.8286 20 16.5859C20 15.3433 21.0074 14.3359 22.25 14.3359C23.4926 14.3359 24.5 15.3433 24.5 16.5859Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M30.326 21.8359H29.5C28.5572 21.8359 28.0858 21.8359 27.7929 22.1288C27.5 22.4217 27.5 22.8931 27.5 23.8359V32.3359C27.5 33.2787 27.5 33.7501 27.7929 34.043C28.0858 34.3359 28.5572 34.3359 29.5 34.3359H30C30.9428 34.3359 31.4142 34.3359 31.7071 34.043C32 33.7501 32 33.2787 32 32.3359L32.0001 28.836C32.0001 27.1792 32.5281 25.836 34.0879 25.836C34.8677 25.836 35.5 26.5076 35.5 27.336V31.836C35.5 32.7788 35.5 33.2502 35.7929 33.5431C36.0857 33.836 36.5572 33.836 37.5 33.836H37.9987C38.9413 33.836 39.4126 33.836 39.7055 33.5432C39.9984 33.2504 39.9985 32.7791 39.9987 31.8365L40.0001 26.3361C40.0001 23.8509 37.6364 21.8362 35.2968 21.8362C33.9649 21.8362 32.7767 22.489 32.0001 23.5099C32 22.8798 32 22.5648 31.8632 22.3309C31.7765 22.1828 31.6531 22.0595 31.505 21.9728C31.2711 21.8359 30.9561 21.8359 30.326 21.8359Z"
                                                fill="#F1E7D1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25205">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25211)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M21 33.3359L28.5484 25.7875M28.5484 25.7875L21 15.3359H26L31.4516 22.8843M28.5484 25.7875L34 33.3359H39L31.4516 22.8843M39 15.3359L31.4516 22.8843"
                                                stroke="#F1E7D1" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25211">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="card-detail d-flex gap-3">
                            <img src="../../../assets/images/person.png" alt="">
                            <div class="card-content">
                                <h1 class="callahan">Zephyr Callahan</h1>
                                <p class="callahan-para">Owner, CEO</p>
                                <div class="d-flex align-items-center gap-2">
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25205)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M22.5 21.8359H22C21.0572 21.8359 20.5858 21.8359 20.2929 22.1288C20 22.4217 20 22.8931 20 23.8359V32.3359C20 33.2787 20 33.7501 20.2929 34.043C20.5858 34.3359 21.0572 34.3359 22 34.3359H22.5C23.4428 34.3359 23.9142 34.3359 24.2071 34.043C24.5 33.7501 24.5 33.2787 24.5 32.3359V23.8359C24.5 22.8931 24.5 22.4217 24.2071 22.1288C23.9142 21.8359 23.4428 21.8359 22.5 21.8359Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M24.5 16.5859C24.5 17.8286 23.4926 18.8359 22.25 18.8359C21.0074 18.8359 20 17.8286 20 16.5859C20 15.3433 21.0074 14.3359 22.25 14.3359C23.4926 14.3359 24.5 15.3433 24.5 16.5859Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M30.326 21.8359H29.5C28.5572 21.8359 28.0858 21.8359 27.7929 22.1288C27.5 22.4217 27.5 22.8931 27.5 23.8359V32.3359C27.5 33.2787 27.5 33.7501 27.7929 34.043C28.0858 34.3359 28.5572 34.3359 29.5 34.3359H30C30.9428 34.3359 31.4142 34.3359 31.7071 34.043C32 33.7501 32 33.2787 32 32.3359L32.0001 28.836C32.0001 27.1792 32.5281 25.836 34.0879 25.836C34.8677 25.836 35.5 26.5076 35.5 27.336V31.836C35.5 32.7788 35.5 33.2502 35.7929 33.5431C36.0857 33.836 36.5572 33.836 37.5 33.836H37.9987C38.9413 33.836 39.4126 33.836 39.7055 33.5432C39.9984 33.2504 39.9985 32.7791 39.9987 31.8365L40.0001 26.3361C40.0001 23.8509 37.6364 21.8362 35.2968 21.8362C33.9649 21.8362 32.7767 22.489 32.0001 23.5099C32 22.8798 32 22.5648 31.8632 22.3309C31.7765 22.1828 31.6531 22.0595 31.505 21.9728C31.2711 21.8359 30.9561 21.8359 30.326 21.8359Z"
                                                fill="#F1E7D1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25205">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25211)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M21 33.3359L28.5484 25.7875M28.5484 25.7875L21 15.3359H26L31.4516 22.8843M28.5484 25.7875L34 33.3359H39L31.4516 22.8843M39 15.3359L31.4516 22.8843"
                                                stroke="#F1E7D1" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25211">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="card-detail d-flex gap-3">
                            <img src="../../../assets/images/person.png" alt="">
                            <div class="card-content">
                                <h1 class="callahan">Zephyr Callahan</h1>
                                <p class="callahan-para">Owner, CEO</p>
                                <div class="d-flex align-items-center gap-2">
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25205)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M22.5 21.8359H22C21.0572 21.8359 20.5858 21.8359 20.2929 22.1288C20 22.4217 20 22.8931 20 23.8359V32.3359C20 33.2787 20 33.7501 20.2929 34.043C20.5858 34.3359 21.0572 34.3359 22 34.3359H22.5C23.4428 34.3359 23.9142 34.3359 24.2071 34.043C24.5 33.7501 24.5 33.2787 24.5 32.3359V23.8359C24.5 22.8931 24.5 22.4217 24.2071 22.1288C23.9142 21.8359 23.4428 21.8359 22.5 21.8359Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M24.5 16.5859C24.5 17.8286 23.4926 18.8359 22.25 18.8359C21.0074 18.8359 20 17.8286 20 16.5859C20 15.3433 21.0074 14.3359 22.25 14.3359C23.4926 14.3359 24.5 15.3433 24.5 16.5859Z"
                                                fill="#F1E7D1" />
                                            <path
                                                d="M30.326 21.8359H29.5C28.5572 21.8359 28.0858 21.8359 27.7929 22.1288C27.5 22.4217 27.5 22.8931 27.5 23.8359V32.3359C27.5 33.2787 27.5 33.7501 27.7929 34.043C28.0858 34.3359 28.5572 34.3359 29.5 34.3359H30C30.9428 34.3359 31.4142 34.3359 31.7071 34.043C32 33.7501 32 33.2787 32 32.3359L32.0001 28.836C32.0001 27.1792 32.5281 25.836 34.0879 25.836C34.8677 25.836 35.5 26.5076 35.5 27.336V31.836C35.5 32.7788 35.5 33.2502 35.7929 33.5431C36.0857 33.836 36.5572 33.836 37.5 33.836H37.9987C38.9413 33.836 39.4126 33.836 39.7055 33.5432C39.9984 33.2504 39.9985 32.7791 39.9987 31.8365L40.0001 26.3361C40.0001 23.8509 37.6364 21.8362 35.2968 21.8362C33.9649 21.8362 32.7767 22.489 32.0001 23.5099C32 22.8798 32 22.5648 31.8632 22.3309C31.7765 22.1828 31.6531 22.0595 31.505 21.9728C31.2711 21.8359 30.9561 21.8359 30.326 21.8359Z"
                                                fill="#F1E7D1" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25205">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <svg class="responsive-icon" xmlns="http://www.w3.org/2000/svg" width="59"
                                        height="50" viewBox="0 0 59 50" fill="none">
                                        <g clip-path="url(#clip0_2292_25211)">
                                            <rect x="0.5" y="0.835938" width="58" height="48" rx="7.5"
                                                stroke="#F1E7D1" />
                                            <path
                                                d="M21 33.3359L28.5484 25.7875M28.5484 25.7875L21 15.3359H26L31.4516 22.8843M28.5484 25.7875L34 33.3359H39L31.4516 22.8843M39 15.3359L31.4516 22.8843"
                                                stroke="#F1E7D1" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2292_25211">
                                                <rect width="59" height="49" fill="white"
                                                    transform="translate(0 0.335938)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <app-faq></app-faq>
            <app-get-app></app-get-app>
        </div>
    </div>
</section>