/* You can add global styles to this file, and also import other style files */
@import url('https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './assets/mixin/_mixin.scss';
@import './assets/mixin/_var.scss';
@import './assets/mixin/typography';

@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';

.bg-myprimary {
    background-color: $primary !important;
}

$card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$border: 1px solid #d0d5dd !important;

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-700.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./assets/font/SF-Pro-Text-800.otf');
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
    font-family: "SF Pro Text" !important;
}

body {
    overflow-x: hidden !important;
}

a,
i,
.btn,
div {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out !important;
}

textarea {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

input,
.navbar-toggler,
button,
input {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

body {
    scroll-behavior: smooth;
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


// buttons
.btn-primary {
    width: fit-content;
    padding: 11px 28px !important;
    background-color: $primary !important;
    height: 46px;
    border-radius: 12px !important;
    @include flex-container(row, center, center);
    font-size: 20px !important;
    border: none !important;
    font-weight: 400 !important;
}

.btn-outline-primary {
    width: fit-content;
    padding: 11px 28px !important;
    background-color: white !important;
    height: 46px;
    border-radius: 12px !important;
    @include flex-container(row, center, center);
    font-size: 20px !important;
    border: 1px solid $primary !important;
    color: $primary !important;
    font-weight: 400 !important;
}

.btn-white {
    background-color: white;
    height: 62px;
    width: fit-content;
    padding: 19px 34px;
    border-radius: 12px;
    color: $primary;
}

.btn-secondary {
    width: fit-content;
    padding: 11px 28px !important;
    background-color: $secondary;
    height: fit-content;
    border-radius: 12px !important;
    @include flex-container(row, center, center);
    font-size: 18px !important;
    border: none !important;
    color: white !important;
    font-weight: 600 !important;
}

// buttons

.language-dropdown {

    @include respond('phone') {
        flex-direction: column !important;

        .language {
            margin-bottom: 12px;
            margin-right: 0px;
        }

        button {
            width: 100% !important;
        }
    }

    @include respond('tab-port') {
        flex-direction: column !important;

        .language {
            margin-bottom: 12px;
            margin-right: 0px;
        }

        button {
            width: 100% !important;
        }
    }
}

.nav-link {
    @include respond('phone') {
        margin: 0px !important;
    }

    @include respond('tab-port') {
        margin: 0px !important;
    }
}

.content-container {

    .home-bg {
        background: url('./assets/images/Slice\ 1.png');
    }

    .top-section {
        min-height: 100vh;
        padding-top: 240px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: -80px;
        z-index: 50;
    }

    .hero-section {
        padding-bottom: 91px;

        .content {
            max-width: 652px;
            width: 100%;
            margin: auto;
            position: relative;
            z-index: 100;
            // background: #e7dab9;

            @include respond('phone') {
                padding: 30px;
            }

            .title {
                font-size: 42px;
                font-weight: 800;
                line-height: 62px;
                color: $primary;
                position: relative;
                margin-bottom: 27px;

                @include respond('phone') {
                    padding-left: 25px;
                    padding-right: 25px;
                }


                .arrow-container {
                    display: inline-block;
                    position: relative;

                    .arrow {
                        position: absolute;
                        top: -75px;
                        left: -30px;
                    }

                    .grow {
                        background-color: $info-lt;
                        color: white;
                        font-family: 'Salsa' !important;
                        font-weight: 400;
                        font-size: 48px;
                        line-height: 64px;
                        border-radius: 34px;
                        padding: 6px 14px;
                        padding-top: 4px;
                        animation: colorAnimation 1s ease-in-out infinite alternate;
                    }
                }

                .creative {
                    padding: 6px 14px;
                    padding-top: 2px;
                    background-color: $success;
                    color: white;
                    font-family: 'Salsa' !important;
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 64px;
                    border-radius: 34px;
                    animation: reverseColorAnimation 1s ease-in-out infinite alternate;
                    margin-right: 4px;
                }
            }

            .description {
                font-weight: 400;
                font-size: 20px;
                color: $gray-400;
                max-width: 524px;
                width: 100%;
                margin: auto;
                text-align: center;
                margin-bottom: 46px;
            }

            .buttons {
                height: 60px;
                max-width: 384px;
                width: 100%;
                margin: auto;
                display: flex;
                gap: 12px;

                .btn-outline-primary {
                    background-color: transparent !important;
                }
            }
        }

        .left {
            position: absolute;
            left: 0px;
            top: 200px;
            display: flex;
            flex-direction: column;
            z-index: 10;
        }

        .right {
            z-index: 10;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 200px;
        }

        .stats-container {
            margin-top: 208px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 26px;
            padding: 0px 74px;

            @include respond('phone') {
                gap: 30px;
                grid-template-columns: repeat(1, 1fr);
            }

            @include respond('tab-port') {
                grid-template-columns: repeat(2, 1fr);
            }

            .stat {
                border: 2px solid $golden;
                padding: 72px 52px;
                width: 100%;
                height: 281px;
                border-radius: 42px;
                @include flex-container(column, center, center);
                background-color: white;

                h4 {
                    font-size: 68px;
                    font-family: 'Salsa' !important;
                    margin-bottom: 7px;
                    color: $primary;
                    text-align: center;
                    font-weight: 400;
                }

                p {
                    font-weight: 400;
                    font-size: 20px;
                    color: $gray-400;
                    text-align: center;
                }

                &:nth-child(even) {
                    margin-top: 42px;

                    @include respond('phone') {
                        margin-top: 0px;
                    }
                }
            }
        }

    }

    .Logo-container {
        padding: 52px 80px;

        h6 {
            text-align: center;
            margin-bottom: 40px;
        }

        .owl-item {
            margin-left: 30px !important;
        }
    }

    .dark-section {
        background-color: $teal;
        position: relative;
        margin-bottom: 75px;
        min-height: 612px;
        overflow: hidden;
        border-radius: 52px;
        height: fit-content;

        .d1 {
            position: absolute;
            top: -27px;
            left: 181px;
            max-width: 150px;
            max-height: 150px;
        }

        .d2 {
            position: absolute;
            bottom: -47px;
            left: 421px;
            max-width: 175px;
            max-height: 175px;
        }

        .d3 {
            position: absolute;
            right: 0px;
            bottom: -10px;
            max-width: 30%;
            max-height: 70%;
            z-index: 10;
        }

        .content {
            max-width: 556px;
            width: 100%;
            padding: 60px;
            position: relative;
            z-index: 50;

            @include respond('phone') {
                max-width: 100%;
            }

            @include respond('tab-port') {
                max-width: 100%;
            }

            .title {
                font-weight: 600;
                font-size: 38px;
                line-height: 48px;
                color: white;
                margin-bottom: 33px;

                @include respond('phone') {
                    padding-left: 25px;
                    padding-right: 25px;
                }


                .grow {
                    background-color: $info-lt;
                    color: white;
                    font-family: 'Salsa' !important;
                    font-size: 38px;
                    line-height: 44px;
                    border-radius: 34px;
                    padding: 4px 10px;
                }
            }

            p {
                margin-bottom: 33px;
                color: $gray-200;
            }

            button {
                width: fit-content;
            }
        }

        .imgs {
            position: relative;
            z-index: 30;

            .tl {
                margin-right: -52.5px;
                margin-bottom: -40px;
            }

            .tr {
                margin-left: -52.5px;
                margin-bottom: -40px;
            }

            .bl {
                margin-right: -45px;
                margin-top: -50px;
            }

            .br {
                margin-left: -45px;
                margin-top: -75px;
            }
        }

        .star {
            position: absolute;
            left: 0px;
            bottom: 0px;
            max-width: 650px;
            max-height: 650px;
            z-index: 10;
        }

        .star2 {
            position: absolute;
            right: 0px;
            top: 0px;
            max-width: 650px;
            max-height: 650px;
            z-index: 10;
        }

        .dashboard {
            padding: 86px 0px;
            position: relative;
            z-index: 50;

            .img {
                // margin: -145px;
                max-height: 806px;
                border-radius: 32px;
            }
        }

    }

    .h977 {
        height: 977px;
    }

    .client-benefit {
        padding: 0px 71px;
        margin-bottom: 75px;

        .title {
            max-width: 663px;
            width: 100%;
            margin: 0px auto;
            margin-bottom: 64px;
            font-size: 42px;
            font-weight: 800;
            line-height: 68px;
            color: $primary;
            position: relative;
            text-align: center;

            @include respond('phone') {
                padding-left: 25px;
                padding-right: 25px;
            }


            .grow {
                background-color: $info-lt;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 68px;
                border-radius: 34px;
                margin-right: 4px;
                padding: 4px 8px;
            }

            .creative {
                padding: 4px 8px;
                background-color: $success;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 68px;
                border-radius: 34px;
            }
        }

        .feature {
            position: relative;
            height: 419px;
            border-radius: 22px;
            padding: 23px;
            @include flex-container(column, center, center);
            background: url('./assets/images/Slicecon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .icon {
                @include flex-container(row, center, center);
                width: 125px;
                border-radius: 100%;
                border: 5px solid $secondary;
                height: 125px;
                margin-bottom: 64px;
                background-color: white;
            }

            h5 {
                font-weight: 600;
                font-size: 28px;
                color: $primary;
                text-align: center;
            }

        }

        .col-lg-4 {
            padding: 12px 9px !important;
        }
    }

    .contest-box {
        margin-bottom: 75px;

        .title {
            max-width: 663px;
            width: 100%;
            margin: 0px auto;
            font-size: 42px;
            font-weight: 800;
            line-height: 62px;
            color: $primary;
            position: relative;
            text-align: center;
            margin-bottom: 64px;

            @include respond('phone') {
                padding-left: 25px;
                padding-right: 25px;
            }


            .grow {
                background-color: $info-lt;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 62px;
                border-radius: 34px;
                margin-right: 4px;
                padding: 4px 8px;
            }

            .creative {
                padding: 4px 8px;
                background-color: $success;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 62px;
                border-radius: 34px;
            }
        }

        .create {
            background-color: #eaddbc;
            padding: 32px;
            border-radius: 24px;
            margin-bottom: 75px;

            .create-container {
                border: 2px solid #B88917;
                border-radius: 24px;
                background-color: #e3d0a2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @include respond('phone') {
                    grid-template-columns: repeat(1, 1fr);
                }

                @include respond('tab-port') {
                    grid-template-columns: repeat(1, 1fr);
                }

                .detail {
                    border-right: 1px solid $secondary;

                    .content {
                        padding: 73px 0px 40px 28px;
                        max-width: 545px;
                        width: 100%;

                        @include respond('phone') {
                            padding: 40px 28px;
                            max-width: 100%;
                        }

                        @include respond('tab-port') {
                            max-width: 100%;
                            padding: 40px 28px;
                        }

                        h1 {
                            font-size: 38px;
                            font-family: 600;
                            color: black;
                            margin-bottom: 66px;

                            .grow {
                                background-color: $info-lt;
                                color: white;
                                font-family: 'Salsa' !important;
                                font-size: 48px;
                                line-height: 68px;
                                border-radius: 34px;
                                margin-right: 4px;
                                padding: 4px 8px;
                            }
                        }

                        p {
                            margin-bottom: 66px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            color: $primary;
                        }

                        .points {
                            width: 100%;

                            .point {
                                width: 100%;
                                @include flex-container(row, start, start);
                                gap: 12px;
                                margin-bottom: 17px;

                                .tick {
                                    @include flex-container(row, center, center);
                                    --size: 24px;
                                    width: var(--size);
                                    height: var(--size);
                                    border-radius: 100%;
                                    background-color: $secondary;
                                    min-width: var(--size);
                                }

                                p {
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: $primary;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }

                    .user-with-parti,
                    .check-result {
                        padding: 32px 37px;
                        border-top: 1px solid $secondary;
                        height: 170px;
                        background-color: #f1e7d1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .holder {
                            max-width: 407px;

                            h6 {
                                font-size: 24px;
                                font-weight: 600;
                                color: $primary;
                                margin-bottom: 14px;
                            }

                            p {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }

                    .check-result {
                        border-radius: 0px 0px 0px 22px;

                        @include respond('phone') {
                            border-radius: 0px;
                        }

                        @include respond('tab-port') {
                            border-radius: 0px;
                        }
                    }
                }

                .form-container {
                    padding: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .checklist {
                        padding: 86px;
                    }

                    form {
                        border-radius: 22px;
                        background-color: white;
                        padding: 18px 24px;
                        min-height: 412px;
                        margin: 0px auto;
                        height: fit-content;

                        .form-label {
                            font-weight: 600;
                            font-size: 16px;
                            color: $primary;

                        }

                        .form-control {
                            height: 56px;
                            border-radius: 12px;
                            background: #f5f5f9;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .reviews-container {
        margin-bottom: 75px;

        .title {
            max-width: 633px;
            width: 100%;
            margin: 0px auto;
            margin-bottom: 62px;
            font-size: 42px;
            font-weight: 800;
            line-height: 68px;
            color: $primary;
            position: relative;
            margin-bottom: 27px;
            text-align: center;
            margin-bottom: 64px;

            @include respond('phone') {
                padding-left: 25px;
                padding-right: 25px;
            }

            .grow {
                background-color: $info-lt;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 68px;
                border-radius: 34px;
                margin-right: 4px;
                padding: 4px 8px;
            }

            .creative {
                padding: 4px 8px;
                background-color: $success;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 49px;
                font-weight: 400;
                line-height: 68px;
                border-radius: 34px;
            }
        }

        .content {
            .review {
                border: 2px solid $secondary;
                padding: 18px 22px;
                border-radius: 24px;
                min-height: 227px;

                .profile {
                    @include flex-container(row, start, center);
                    gap: 14px;
                    width: 100%;
                    margin-bottom: 31px;

                    .avatar {
                        border-radius: 100%;
                        $size : 48px;
                        width: $size;
                        height: $size;
                    }

                    .info {
                        h6 {
                            font-weight: 600;
                            font-size: 14px;
                            color: black;
                            margin-bottom: 6px;

                            i {
                                color: #b88917;
                                margin-left: 6px;
                            }
                        }

                        p {
                            font-weight: 400;
                            font-size: 14px;
                            color: #6F6E78;
                            margin-bottom: 0px;
                        }
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: #6F6E78;
                    margin-bottom: 32px;
                }

                .bottom {
                    width: 100%;
                    @include flex-container(row, space-between, center);

                    .date {
                        color: $gray-400;
                        font-size: 12px;
                        font-weight: 400;
                    }

                    .stars {
                        @include flex-container(row, normal, center);
                        gap: 4px;

                        i {
                            color: $star;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

    }

    .ribbens {
        margin-bottom: 75px;
        padding-top: 60px;

        .orange {
            background-color: #f8a426;
            transform: rotate(0.4deg);
            position: relative;

            .ribbon-text {
                animation-direction: normal; // Move L to R
            }

        }

        .info {
            background-color: $info_lt;
            transform: rotate(-6deg);
            margin-top: -80px;
        }

        .marquee {
            height: 111px;
            width: 100%;

            overflow: hidden;
            position: relative;
        }

        .marquee div {
            display: flex;
            width: 200%;
            height: 100%;

            position: absolute;
            overflow: hidden;
            align-items: center;
            animation: marquee 10s linear infinite;
        }

        .info div {
            animation-direction: reverse;
        }

        .marquee span {
            float: left;
            width: fit-content;
            font-size: 23px;
            font-weight: 500;
            font-family: "Poppins", serif !important;
            color: black;
            margin: 0px 24px;
            white-space: nowrap;
        }

        @keyframes marquee {
            0% {
                left: 0;
            }

            100% {
                left: -100%;
            }
        }

    }

    .price-container {
        padding: 63px 60px;
        margin-top: 150px;
        background-color: $teal;
        position: relative;
        border-radius: 32px;

        .tr {
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 10;
            border-radius: 32px;
        }

        .header {
            max-width: 728px;
            width: 100%;
            position: relative;
            z-index: 100;
        }

        h1 {
            font-family: 'Salsa' !important;
            font-size: 32px;
            font-weight: 400;
            line-height: 39.23px;
            text-align: left;
            color: white !important;
        }

        .text-div {
            margin-top: 31px;
        }

        .header-text {
            font-size: 22px;
            font-weight: 500;
            line-height: 34px;
            text-align: left;
            color: #828999;
            margin-bottom: 0px;
        }

        .nav-tabs {
            border: none;
            border-radius: 32px;
            background-color: #f5f5f9;
            margin-top: 12px;

            button {
                border: none;
                font-family: Poppins;
                font-size: 14.97px;
                font-weight: 500;
                line-height: 22.46px;
                letter-spacing: 1.0396655797958374px;
                text-align: center;
                padding: 16px 28px;
                border-radius: 27px;
                color: #586277;
                min-width: 137px;

                &:hover {
                    background-color: #b88917;
                    color: #fff;
                }

                &.active {
                    box-shadow: 0px 6.24px 8.73px 0px #2e3b553b;
                    background-color: #b88917;
                    color: #fff;
                }
            }
        }

        .plans-section {
            width: 100%;
            padding-top: 32px;
            position: relative;
            z-index: 100;

            .plans-card {
                width: 100%;
                height: fit-content;
                background: #F5F5F9;
                backdrop-filter: blur(21.833px);
                border-radius: 32.4376px;
                padding: 34px 60px;
                display: flex;
                gap: 42px;
                padding-top: 65px;

                .price-card {

                    button {
                        height: 56px;
                        width: 100%;
                    }

                    width: 100%;
                    height: auto;
                    min-height: 482px;
                    position: relative;
                    // padding: 0px 35px;
                    border-radius: 32.4376px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include flex-container(column, space-between, flex-start);

                    .heading {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 52px;
                        gap: 21px;

                        h1 {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            padding: 0px;
                            gap: 6px;
                            margin-bottom: 0px;
                            color: $primary !important;

                            small {
                                font-family: 'SF Pro Text';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 35px;
                                color: #ABB1BB;
                            }
                        }

                        .badge {
                            width: 112px;
                            height: 34px;
                            background: #D4B874;
                            border-radius: 16.8426px;
                            font-family: 'SF Pro Text' !important;
                            font-size: 12px;
                            line-height: 14px;
                            text-align: center;
                            color: #2E3B55;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            right: 0px;
                        }
                    }

                    h3 {
                        font-family: 'Salsa' !important;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 39px;
                        display: flex;
                        align-items: center;
                        color: #2E3B55;
                        margin-bottom: 14px;
                    }

                    h6 {
                        font-family: 'SF Pro Text';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 21px;
                        color: #ABB1BB;
                        margin-bottom: 30px;
                    }

                    .pkg-options {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        margin-bottom: 28px;

                        .option {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .check {
                                height: 24px;
                                width: 24px;
                                border-radius: 100px;
                            }

                            span {
                                font-family: 'SF Pro Text';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 21px;
                                color: #828999;
                            }

                        }
                    }

                    .pkg-premium-options {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        margin-bottom: 28px;

                        .option {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            span {
                                font-family: 'SF Pro Text';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 21px;
                                color: #D5D8DD !important;
                            }
                        }
                    }

                    .current-plan {
                        font-size: 38px;
                    }
                }

                .price-card.popular {
                    box-shadow: 0px 52.3991px 42.4184px rgba(46, 59, 85, 0.29);
                    background: #2E3B55;
                    padding: 24px 37px;
                    color: #fff;
                    margin-top: -100px;

                    h3 {
                        color: #fff;
                    }

                    .popular-tag {
                        width: 100%;
                        display: flex;
                        margin-bottom: 10px;
                        justify-content: flex-end;

                        .badge {
                            width: 150px;
                            height: 34px;
                            background: #586277 !important;
                            border-radius: 16.8426px;
                            font-family: 'SF Pro Text' !important;
                            font-size: 12px;
                            line-height: 14px;
                            text-align: center;
                            color: #E3D0A2;
                            font-weight: 800;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                }
            }
        }


    }
}

.FAQ {
    padding: 75px 71px;

    .faq-title {
        max-width: 513px;
        width: 100%;

        .title {
            font-size: 56px;
            font-weight: 700;
            line-height: 62px;
            color: #120A0B;
            position: relative;
            margin-bottom: 48px;


            .creative {
                padding: 6px 14px;
                padding-top: 2px;
                background-color: $success;
                color: white;
                font-family: 'Salsa' !important;
                font-size: 48px;
                font-weight: 400;
                line-height: 64px;
                border-radius: 34px;
                margin-right: 4px;
            }
        }

        p {
            font-size: 20px;
            font-weight: 400;
            color: #454140;
        }
    }

    .questions {
        .accordion-item {
            border: none !important;
            margin-bottom: 10px;
            background-color: transparent;
        }

        .accordion-button {
            font-weight: 600;
            font-size: 24px;
            color: black;
            background-color: transparent;
            border: 2px solid $secondary;
            border-bottom: 0px;
            transition: border 1s ease-in;
            border-radius: 16px 16px 0px 0px;
            font-family: 'SF Pro Text' !important;
        }

        .accordion-button.collapsed {
            border: 0px;
        }

        .accordion-collapse.collapse.show {
            border: 2px solid $secondary;
            border-top: 0px;
            border-radius: 0px 0px 16px 16px !important;
        }

        .accordion-body {
            transition: none !important;
            font-size: 20px;
            font-weight: 400;
            color: #454140;
            padding-top: 0px;
            font-family: 'SF Pro Text' !important;
        }

        .accordion-button::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
            transition: all 0.5s;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
        }

        .accordion-button::after {
            transition: all 0.5s;
        }

    }
}


footer {
    background-color: #d3b773;
    padding-top: 230px;
    padding-bottom: 73px;

    .logo-box {
        img {
            opacity: 0.5;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            color: #726e66;
            margin-top: 30px;
        }
    }

    .info {
        .white-label {
            font-size: 20px;
            font-weight: 600;
            color: white !important;
            margin-bottom: 36px;
        }

        ul {
            list-style: none !important;
            padding-left: 0px !important;

            li {
                font-size: 20px;
                font-weight: 400;
                color: #726e66;
                margin-bottom: 36px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;

                }
            }

        }
    }

    .input-section {
        p {
            font-size: 20px;
            font-weight: 400;
            color: #726e66;
            margin-bottom: 30px;
        }

        .input {
            height: 68px;
            background-color: white !important;
            position: relative;
            border-radius: 60px;

            input {
                border-radius: 60px;
                border: none;
                height: 100%;
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                padding: 12px 20px;
                padding-right: 140px;
            }

            .icon {
                position: absolute;
                width: 120px;
                height: 44px;
                border-radius: 32px;
                background-color: #8a8e94;
                color: white;
                font-size: 16px;
                font-weight: 600;
                right: 12px;
                @include flex-container(row, center, center);
                top: 12px;
                cursor: pointer;
            }
        }
    }

    .copyright {
        @include flex-container(row, space-between, center);
        margin-top: 70px;

        span {
            font-size: 20px;
            font-weight: 400;
            color: #726e66;
        }

        .social-icons {
            display: flex;
            gap: 20px;

            img {
                cursor: pointer;
            }
        }
    }
}


@keyframes colorAnimation {
    0% {
        background-color: $info-lt;
        /* First color */
    }

    100% {
        background-color: $success;
        /* Second color */
    }
}

@keyframes reverseColorAnimation {
    0% {
        background-color: $success;
        /* Second color */
    }

    100% {
        background-color: $info-lt;
        /* First color */
    }
}


.ant-tooltip-inner {
    color: white !important;
    padding: 4px 6px;
    border-radius: 4px;
}